* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
   }

   .img{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 03%;
   }
    .img p {
    color: rgb(9, 8, 8);
    justify-content: flex-end;
    
   }
